<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="form-container">
        <form id="createEventForm">
            <h2>Create Event</h2>
            <div class="input-group">
                <label for="eventname">Event Name:</label>
                <input type="text" id="eventname" name="eventname" required>
            </div>
            <div class="input-group">
                <label for="venue">Venue:</label>
                <input type="text" id="venue" name="venue" required>
            </div>
            <div class="input-group">
                <label for="datetime">Date and Time:</label>
                <input type="datetime-local" id="datetime" name="datetime" required>
            </div>
            <div class="input-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div class="input-group">
                <label for="maxcap">Maximum Capacity:</label>
                <input type="number" id="maxcap" name="maxcap" required>
            </div>
            <div class="input-group">
                <label for="genre">Genre:</label>
                <select id="genre" name="genre" required>
                    <option value="conference">Conference</option>
                    <option value="workshp">Workshop</option>
                    <option value="concert">Concert</option>
                    <option value="festivel">Festivel</option>
                    <option value="tournament">Tournament</option>
                </select>
            </div>
            <button type="submit">Create Event</button>
        </form>
    </div>
    <script src="../static/js/create_event.js"></script>
</body>
</html>

